* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(227, 226, 223, .3);
}


/* Landing Section */
section.landing-page-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

div.landing-page-wrapper {
    background: linear-gradient(to bottom right,rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url("images/landing-bg.jpg") no-repeat center;
    font-family: 'Raleway', sans-serif;
    height: 90vh;
    width: 95%;
    margin: 5vh 2.5%;
    position: relative;
    box-shadow: 15px 15px 35px #999;
    background-size: cover;
    border-radius: 3px;
    animation: fade .8s;
}

h1#landing-page-heading {
    text-align: center;
    font-size: 55px;
    color: #eee;
    text-shadow: 1px 1px 5px #555;
    letter-spacing: 3px;
    padding-top: 60px;
}

div.landing-inputs-wrapper {
    clip-path: polygon(100% 34%, 100% 35%, 100% 100%, 0 100%, 0 7%);
    background: rgba(0, 0, 0, .7);
    padding: 220px 10px 10px 10px;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 3px;
    margin-top: 100px;
    animation: fade 1.5s;
}

@keyframes fade {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

div.landing-inputs-wrapper input {
    width: 300px;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px 10px;
    margin: 10px auto;
    background: transparent;
    border-radius: 3px;
    color: #eee;
    outline: none;
    border-color: transparent;
    border-bottom: 2px solid #aaa;
    transition: all .3s;
    display: block;
}

/* Chrome/Opera/Safari */
div.landing-inputs-wrapper input::-webkit-input-placeholder {
    color: #aaa;
}

/* Firefox 19+ */
div.landing-inputs-wrapper input::-moz-placeholder {
    color: #aaa;
}

div.landing-inputs-wrapper input:focus {
    border-bottom: 2px solid #fff;
}

#start-quiz-btn {
    font-family: 'Cabin', sans-serif;
    width: 300px;
    padding: 13px 10px;
    margin: 15px auto;
    font-size: 18px;
    letter-spacing: 1.5px;
    border-radius: 25px;
    border: 2px solid #aaa;
    outline: none;
    color: #aaa;
    background: transparent;
    display: block;
    transform: translateX(0px);
    transition: all .3s;
}

#start-quiz-btn:hover {
    border: 2px solid #fff;
    color: #fff;
    transform: translateX(-1px);
}


/* Admin Section */
section.admin-panel-container {
    height: 90vh;
    width: 95%;
    margin: 5vh 2.5%;
    position: relative;
    background: linear-gradient(to bottom right,rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url("images/admin-bg.jpg") no-repeat center;
    box-shadow: 15px 15px 35px #999;
    background-size: cover;
    overflow: hidden;
    animation: fade .8s;
}

div.admin-panel-wrapper {
    width: 68%;
    height: 65%;
    position: absolute;
    top: 40px;
    left: 40px;
    background: rgba(0, 0, 0, .65);
    border-radius: 3px;
    overflow: auto;
}

div.admin-panel-wrapper::-webkit-scrollbar {
    background: rgba(0,0,0,.2);
    width: 15px
}

div.admin-panel-wrapper::-webkit-scrollbar-thumb {
      background-color: #333; 
}

div.header {
    overflow: hidden;
}

div.header h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: left;
    width: 50%;
    float: left;
    padding: 20px;
    color: #fff;
}

div.forms-wrapper {
    width: 80%;
    margin: 1% auto;
}

#new-question-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: #eee;
    max-width: 500px;
    min-width: 300px;
    width: 50%;
    height: 60px;
    border-radius: 2px;
    border: .5px solid #eee;
    display: block;
    margin: 10px 0 10px 80px;
    padding: 7px;
    outline: none;
    background: #444;
    transition: all .5s;
}

#new-question-text:focus {
    border: .5px solid #3b8beb;
    background: #555;
}

div.admin-option-wrapper {
    position: relative;
    width: 70%;
}

div.forms-wrapper input[type="text"] {
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: #eee;
    display: block;
    margin: 10px 0 10px 80px;
    padding: 10px 5px;
    border-radius: 2px;
    border: .5px solid #eee;
    outline: none;
    background: #444;
    animation: fade .5s;
    transition: all .5s;
}

div.forms-wrapper input[type="text"]:focus {
    border: .5px solid #3b8beb;
    background: #555;
}

div.forms-wrapper input[type="radio"] {
    position: absolute;
    left: 60px;
    top: 15px;
}

#question-insert-btn {
    font-family: 'Cabin', sans-serif;
    margin-left: 80px;
    padding: 10px 10px;
    width: 120px;
    color: #eee;
    font-size: 16px;
    letter-spacing: 1.5px;
    background: #222;
    border-radius: 25px;
    outline: none;
    border: 1px solid #ccc;
    transition: background .3s, border .3s, box-shadow .3s;
}

#question-insert-btn:hover {
    color: #eee;
    border: 1px solid #fff;
    background: #555;
}

#admin-logout-btn {
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    float: right;
    margin: 20px;
    background-color: #222; 
    border-radius: 25px;
    width: 110px;
    letter-spacing: 1.5px;
    color: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: all .3s;
}